# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Local development settings
.env
env
/.venv
/.vscode
/.idea

# Media files
/media/

# Static files
/static/
/staticfiles/

# Database
/db.sqlite3

# Log files
/logs/

# Other
*.log
*.swp
.DS_Store


# eb virtual env
eb-virt/ 
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
